{% load static %}

<nav class="navbar navbar-expand-lg srm-navbar">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="{% url 'student_booking' %}">
            <img src="{% static 'images/srm-logo.png' %}" alt="SRM Logo" width="45" height="45" class="me-2">
            <span>SRM Institute of Science and Technology</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_booking' %}">Student Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_login' %}">Admin Login</a>
                </li>
            </ul>
        </div>

    </div>
</nav>